name: Deploy HTML folder to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-package:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload HTML folder for Pages
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'HTML'

  deploy-pages:
    runs-on: ubuntu-latest
    needs: build-and-package
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
